*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./images/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/* Style the navigation bar */
nav {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav img {
    height: 50px; /* Adjust logo size */
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    
    display: inline;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 5px;
    
}

/* Styling for search input and buttons */
nav ul li input,
nav ul li button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
}

#btnSearch {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
    border: none;
}

#btnClear {
    background-color: #607d8b;
    color: rgb(255, 255, 255, 0.8);
    border: none;
}

#btnSearch:hover,
#btnClear:hover {
    opacity: 0.8;
}

#mainSection {
    margin: 100px;
    padding-left: 100px;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0, 0.95);
    /* text-align: center; */
    font-size: 2.5rem;
    /* width: 55%; */
    padding-bottom: 30px;
}

p {
    color: rgb(0, 0, 0, 0.85);
    /* width: 600px; */
    /* text-align: center; */
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.btnExploreBookNow {
    padding: 8px 12px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(214, 209, 209);
}

#btnExplore {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
}

#btnExplore:hover {
    /* color: rgb(6, 153, 77); */
    background-color: rgb(6, 153, 77, 0.8);
}

#btnBookNow {
    color: rgb(6, 153, 77);
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid rgb(6, 153, 77);
}

#btnBookNow:hover {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
}