*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./images/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/* Style the navigation bar */
nav {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav img {
    height: 50px; /* Adjust logo size */
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    /* text-align: center; */
}

nav a:hover {
    color: rgb(6, 153, 77);
    text-decoration: solid underline rgb(6, 153, 77) 3px;
    /* color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px; */
    
}

/* Styling for search input and buttons */
nav input,
nav button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
}

nav input {
    width: 300px;
}

#btnSearch {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
    border: none;
}

#btnClear {
    background-color: #607d8b;
    color: rgb(255, 255, 255, 0.8);
    border: none;
}

#btnSearch:hover,
#btnClear:hover {
    opacity: 0.8;
}

#mainSection {
    margin: 100px;
    padding-left: 100px;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0, 0.95);
    /* text-align: center; */
    font-size: 2.5rem;
    /* width: 55%; */
    padding-bottom: 30px;
}

p {
    color: rgb(0, 0, 0, 0.85);
    /* width: 600px; */
    /* text-align: center; */
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.btnExploreBookNow {
    padding: 8px 12px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(214, 209, 209);
}

#btnExplore {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
}

#btnExplore:hover {
    /* color: rgb(6, 153, 77); */
    background-color: rgb(6, 153, 77, 0.8);
}

#btnBookNow {
    color: rgb(6, 153, 77);
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid rgb(6, 153, 77);
}

#btnBookNow:hover {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
}


/* About us page*/
.about-us {
    margin: auto;
    width: 50%;
    text-align: center;
}

#about-us-h1 {
    padding: 100px;
}

#our-team-h2 {
    margin-top: 30px;
    padding: 50px;
    text-decoration: solid underline rgb(0, 0, 0) 3px;
}



/* Three columns side by side */
/* .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
} */
.column {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    float: left;
    width: 30%;
    /* height: 250px; */
    margin: 50px 30px 100px 30px;
    /* padding: 0 8px; */
}

/* @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
} */


/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/* Some left and right padding inside the container */
/* .container {
    padding: 0 16px;
    
} */
.card-img {
    margin: 10px;
    width: 50%;
    height: 250px;
}

.title {
    color: gray;
    padding: 5px;
    margin-bottom: 15px;
}

/* contact buttons */
.btn-team {
    display: inline-block;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
}

.btn-team {
    background-color: rgb(6, 153, 77);
    color: rgb(255, 255, 255, 0.8);
}

.btn-team:hover {
    background-color: rgb(6, 153, 77, 0.8);
}